<div class="container">
  <img src="{{movie.posterUrl}}">
  <div class="details">

    <app-details-generic-panel [details]="movie.boxOffice" [panelName]="boxOfficePanelName" [display]="showBoxOffice()"></app-details-generic-panel>

    <div class="box has-background-black has-text-white has-text-centered blackbox">
      <div class="box has-text-white has-text-centered chapter">Countries</div>
      <div class="noDetails" *ngIf="!showCountries()">
        <strong class="has-text-white">There is no data...</strong>
      </div>
      <div *ngIf="showCountries()">
        <div *ngFor="let country of movie.countries">
          {{country.name}}
        </div>
      </div>
    </div>

    <app-details-generic-panel [details]="movie.runtime" [panelName]="runTimePanelName" [display]="showRuntime()"></app-details-generic-panel>

    <app-details-generic-panel [details]="movie.releaseDate | date"
                               [panelName]="releaseDatePanelName" [display]="showReleaseDate()"></app-details-generic-panel>

    <app-details-generic-panel [details]="movie.year" [panelName]="yearPanelName" [display]="showYear()"></app-details-generic-panel>

    <div class="box has-background-black has-text-white has-text-centered blackbox">
      <div class="box has-text-white has-text-centered chapter">Languages</div>
      <div class="noDetails" *ngIf="!showLanguages()">
        <strong class="has-text-white">There is no data...</strong>
      </div>
      <div *ngIf="showLanguages()">
        <div *ngFor="let language of movie.languages">
          {{language.name}}
        </div>
      </div>
    </div>

    <div class="box has-background-black has-text-white has-text-centered blackbox">
      <div class="box has-text-white has-text-centered chapter">Genres</div>
      <div class="noDetails" *ngIf="!showGenres()">
        <strong class="has-text-white">There is no data...</strong>
      </div>
      <div *ngIf="showGenres()">
        <div *ngFor="let genre of movie.genres">
          {{genre.name}}
        </div>
      </div>
    </div>
  </div>
</div>

