.media-content {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.username {
  border: solid black 1px;
  text-align: center;
}

.noComments {
  border: solid black 1px;
  text-align: center;
  margin-top: 1rem;
}

.cont {
  text-align: center;
  background: #1E1E1E;
  color: #EEE;
  overflow: hidden;
  border-radius: 3rem;
}

div.stars {
  width: 17rem;
  display: inline-block;
}

.buttonStyle {
  background-color: darkorange;
  color: black;
}

.textarea{

}
