<div class="card">
  <header class="card-header" (click)="toggleActorsPanel()">
    <p class="card-header-title is-size-3">{{panelName}}</p>
    <div class="card-header-icon">
      <img class="icon" src="{{showArrow()}}">
    </div>
  </header>

  <div class="card-content" *ngIf="panelEnabled">
    <div class="noCrew" *ngIf="!validCrewMembers()">
      <strong>There are no crew members...</strong>
    </div>
    <div *ngIf="validCrewMembers()">
      <article class="media" *ngFor="let crewMember of crewMembers">
        <div class="imagePoster">
          <img class="image-native" src="{{crewMember.imageUrl}}">
        </div>
        <div class="media-content">
          <div class="content">
            <p class="is-size-4">
              <strong>{{crewMember.name}}</strong>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

