<div class="card">

  <app-expandable-panel-header [panelName]="panelName" [startsEnabled]="panelEnabled" (panelToggled)="toggleCrewPanel()"></app-expandable-panel-header>

  <div class="card-content" *ngIf="panelEnabled">
    <div class="noCrew" *ngIf="!validCrewMembers()">
      <strong>There are no crew members...</strong>
    </div>
    <div *ngIf="validCrewMembers()">
      <article class="media" *ngFor="let crewMember of crewMembers" (click)="navigateToCrewMember(crewMember)">
        <div class="imagePoster">
          <img class="image-native" src="{{crewMember.imageUrl}}">
        </div>
        <div class="media-content">
          <div class="content">
            <p class="is-size-4">
              <strong>{{crewMember.name}}</strong>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

