<div class="noComments" *ngIf="!showComments()">
  <strong>There are no comments...</strong>
</div>
<div *ngIf="showComments()">
  <div *ngFor="let comment of movie.comments
                |slice:((paginator.pageIndex) * paginator.pageSize) : ((paginator.pageIndex + 1) * paginator.pageSize)"
    class="media-content">
    <div class="username">
      <strong>{{comment.user}}</strong>
      <br>
      <small>{{comment.userEmail}}</small>
    </div>
    <p>
      {{comment.text}}
    </p>
  </div>
</div>
<br>

<div class="cont">
  <div class="stars">
      <app-movie-stars-rating [(ngModel)]="rating"></app-movie-stars-rating>
  </div>
  <div class="rating-text">Rating: {{ rating }}</div>
</div>

<article class="media-content">
  <div class="field">
    <textarea class="textarea" placeholder="Add a comment..."></textarea>
  </div>
  <div class="level-left level-item">
    <button class="button buttonStyle">Submit</button>
  </div>
</article>

<mat-paginator #paginator [length]="length"
               [disabled]="disablePaginator()"
               [pageSize]="pageSize"
               [pageSizeOptions]="[1, 5, 10, 25, 100]"
               (page)="pageEvent = $event"
               showFirstLastButtons>
</mat-paginator>
