<div class="noComments" *ngIf="!showReviews()">
  <strong>There are no reviews...</strong>
</div>
<div *ngIf="showReviews()">
  <div *ngFor="let review of movie.reviews
                |slice:((paginator.pageIndex) * paginator.pageSize) : ((paginator.pageIndex + 1) * paginator.pageSize)"
       class="media-content">
    <div class="message-header">
      <p>{{review.account.name}}</p>
    </div>
    <div class="rating-container">
      <p>Title: {{review.title}}</p>
      <div class="rating-text">
        <div>
          Rating: <small>{{review.rating}}/10</small>
        </div>
        <div>
          <figure class="image is-16x16">
            <img src="{{getStarURL()}}">
          </figure>
        </div>
      </div>
    </div>
    <p>
      {{review.text}}
    </p>
  </div>
</div>
<br>

<div class="card">
  <app-expandable-panel-header [panelName]="panelName" [startsEnabled]="panelEnabled"
                               (panelToggled)="toggleReviewPanel()"></app-expandable-panel-header>

  <div *ngIf="panelEnabled" class="card-content">
    <div class="cont">
      <div class="stars">
        <app-movie-stars-rating [(ngModel)]="rating"></app-movie-stars-rating>
      </div>
      <div class="rating-text">Rating: {{ rating }}</div>
    </div>

    <article class="media-content">
      <div class="field">
        <textarea [(ngModel)]="reviewText" class="textarea" placeholder="Add a comment..."></textarea>
      </div>

      <div *ngIf="!reviewValidator()" class="invalid">
        <div *ngIf="!ratingReviewValidator()">Rating is required.</div>
        <div *ngIf="!textReviewValidator()">Text should have more than 10 characters.</div>
      </div>

      <div class="level-left level-item">
        <button class="button buttonStyle" [disabled]="!reviewValidator()" (click)="onSubmit()">Submit</button>
      </div>
    </article>
  </div>
</div>
<mat-paginator #paginator [length]="length"
               [disabled]="disablePaginator()"
               [pageSize]="pageSize"
               [pageSizeOptions]="[1, 5, 10, 25, 100]"
               (page)="pageEvent = $event"
               showFirstLastButtons>
</mat-paginator>
