.media-content {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.rating-container {
  border: solid black 1px;
  text-align: center;
}

.noComments {
  border: solid black 1px;
  text-align: center;
  margin-top: 1rem;
}

.cont {
  margin-top: 1rem;
  text-align: center;
  background: #1E1E1E;
  color: #EEE;
  overflow: hidden;
  border-radius: 3rem;
}

div.stars {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonStyle {
  background-color: darkorange;
  color: black;
}

.rating-text{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.invalid{
  color: red;
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
