<div class="hero-body">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5-tablet is-4-desktop is-3-widescreen">
        <div action="" class="box">
          <div class="title">
            Movie Finder Reset Password
          </div>
          <div class="icon-title ">
            <img src="{{appIcon}}">
          </div>
          <br>
          <label class="label has-text-centered">Please enter your email address to request a password reset.</label>
          <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
              <input type="email" class="input" placeholder="Email" [(ngModel)]="email" required>
              <div class="icon is-left">
                <img class="icon-dim" src="{{userIcon}}">
              </div>
            </div>
          </div>

          <div class="invalid" *ngIf="!validateEmail()">Email is incorrect.</div>

          <div class="login-opt">
            <div class="button-style">
              <button class="button" (click)="authService.ForgotPassword(email)" [disabled]="!validateEmail()" routerLink="{{signInPath}}">
                Reset password
              </button>
            </div>
            <div class="options">
              <span routerLink="{{signInPath}}">Go back to Log In</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
