.container{
  position: relative;
  text-align: center;
  height:100rem;
  width: 100%;
}

img{
  opacity: 50%;
  z-index: 0;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.details{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chapter{
  background-color: darkorange;
}

.blackbox{
  width: 20rem;
}

.noDetails {
  border: solid white 1px;
  text-align: center;
}

.box{
  margin-bottom: 1.5rem;
}
