<section class="container" *ngIf="getMovie$() | async as movie">
  <div class="title has-text-centered">{{movie.title}}</div>
  <div class="box has-background-black has-text-white rating-container">
    <div class="star">
      <div>Average Rating: {{movie.ratings.averageRating}}/10</div>
      <div>
        <figure class="image is-16x16">
          <img src="{{getStarURL()}}">
        </figure>
      </div>
    </div>
    <div class="has-text-centered">Total votes: {{movie.ratings.votes}}</div>
  </div>
  <div class="block-iframe">
    <iframe
      class="has-text-centered"
      [src]=getSecureMovieURL()
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; fullscreen"
      (load)="onLoad()">
    </iframe>
  </div>
  <div class="block-tabs">
    <app-movie-details-tabs
      [movie]="movie"
      class="tabs">
    </app-movie-details-tabs>
  </div>
</section>

