iframe {
  width: 70%;
  height: 100%;
  border-radius: 3rem;
}

.block-iframe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  margin-top: 1rem;
}

.block-tabs {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tabs {
  width: 90%;
  height: 100%;
}

.title {
  color: white;
  cursor: default;
}

.rating-container {
  width: 30%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.star {
  align-items: center;
  display: flex;
  justify-content: center;
}

.box{
  cursor: default;
}
